/* This file is where you define the way your page should look.
 * We will go over how CSS works, but the basic idea is you can identify what items you want to change, and then say how you want to change it.
 */


/* Make it so there is a black border around every HTML element.
 * The "*" that shows before the "{ border: 1px solid black; }" below means "apply this to everything."
 * Try editing the 1 to a 2 and see what happens, or pick a different color.
 */
/** {
	border: 1px solid black;
}

/* Make it so one of your elements has a red background.
 * The "#" indicates that we are selecting an item using its "id" value.
 * Try changing the id to something else to see what happens.
 */

body{ padding:0; margin:0;}

#container {animation:onload 2s;
	-webkit-animation:onload 2s;}

#headline {
	font-size: 1.5em; float:left; margin-left:8%; font-weight: normal; font-family:'Cedarville Cursive', sans-serif;}

header { background-color: #fff; float:left; width:100%; font-family:'Open Sans', sans-serif; }
#about_content {background: orange;}

ul li { float:right; list-style:none; padding:10px; font-size:.8em;}

ul li a {color:#000; text-decoration:none; }

ul {margin-right:10%;}

.building {background: red; width:1000px;
}

#map_content{ z-index: 3; position: relative;}
.link {width: 20px;
height: 20px;
position: absolute;
top: 23%;
left: 27%;
display: block;
z-index: 1;

}


#quad {visibility: hidden;
        
}

@keyframes onload
{
from {opacity:0;}
to {opacity:1;}
}

@-webkit-keyframes onload
{
from {opacity:0;}
to {opacity:1;}
}