/* This file is where you define the way your page should look.
 * We will go over how CSS works, but the basic idea is you can identify what items you want to change, and then say how you want to change it.
 */


/* Make it so there is a black border around every HTML element.
 * The "*" that shows before the "{ border: 1px solid black; }" below means "apply this to everything."
 * Try editing the 1 to a 2 and see what happens, or pick a different color.
 */
* {
	border: 2px solid blue;
}

/* Make it so one of your elements has a red background.
 * The "#" indicates that we are selecting an item using its "id" value.
 * Try changing the id to something else to see what happens.
 */


#headline {
	font-size: 50px;
	font-family: myFirstFont;
       src: url(sansation_bold.woff);
       font-weight:bold;
       font-weight:italic;
}

#keyframe-1 {
	background: gray;
	color: blue;
  font-size: 24px;

}

#keyframe-2 {
	background: orange;
	color: blue;
  font-style: 
  font-size: 24px;

}

.headline {
	font-size: 20px;
	font-family: myFirstFont;
       src: url(sansation_bold.woff);
       font-weight:bold;
       font-weight:italic;
}

