/* This file is where you define the way your page should look.
 * We will go over how CSS works, but the basic idea is you can identify what items you want to change, and then say how you want to change it.
 */


#content {
 /* position: absolute;
  height: 80%;
  width: 80%;
  margin-left: 10%;
  top: 500px;*/
  position: relative;
  min-height: 500px;
}



.headline {
	font-size: 20px;
	font-family: myFirstFont;
       src: url(sansation_bold.woff);
       font-weight:bold;
       font-weight:italic;
}


#keyframes li {
  list-style: none;
  background: #ffffff;
  position: absolute;
  max-width: 450px; 
  width: 40%;
  top: 100px; 
  left: 100%;
  z-index: 3;
  box-shadow: 0px 0px 10px #6a8d8c;
}

#keyframes li .image img {
max-width: 100%;
}


#keyframes li.landscape {
 max-width: 640px; 
  width: 60%;
}

#keyframes li.landscape .image {
float: left;
width: 35%;
margin-right: 10px;
}

.information {
  font-size: 16px; 
  padding: 10px;
  line-height: 24px;
  max-height: 450px;
  overflow: auto;
}

.headline {
  font-family: 'Open Sans', serif;
  font-size: x-large;
  background: #0175A4;
  color: white;
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

#cover {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

#video {
  width: 100%; 
  height: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 1;
}

#video iframe {
  width: 100%; 
  height: 100%;
  overflow: hidden;
}




@media screen and (max-width: 600px) {
  #keyframes li {
    width: 100%;
    left: 0%;
  }
}

