h1{
	text-align: center;
	font-size: 72px;
	font-family: arial;
}

.fix{
	clear: both;
}

.note{
	position: absolute;
}

.pop_up{
	display: none;
	position: absolute;
}

.card{
	position: absolute;
	cursor: pointer;
}

#container{
	width: 1000px;
	height: 1200px;
	margin: auto;
	border: 1px solid black;
	position: relative;
}

#rifles{
	top: 200px;
	left: 75px;
}

/*#rifles_caption{
	width: 400px;
	height: 40px;
	text-align: center;
	border: 0px;
	top: 510px;
	left: 80px;
}*/

#family{
	left: 680px;
	top: 257px;
}

#family_pop_up{
	width: 450px;
	height: 200px;
	padding: 10px 20px 10px 20px;
	border: 0px;
	top: 287px;
	left: 300px;
	background-color: pink;
}