#family{
	top: 115px;
	left: 100px;
	-webkit-transform: rotate(5deg);
}

#security{
	top: 150px;
	left: 450px;
	-webkit-transform: rotate(-2deg);
}

#rifles{
	top: 450px;
	left: 220px;
}

#candles{
	top: 810px;
	left: 90px;
	-webkit-transform: rotate(-4deg);
}

#airports{
	top: 795px;
	left: 580px;
	-webkit-transform: rotate(5deg);
}

/*#rifles_caption{
	width: 400px;
	height: 40px;
	text-align: center;
	border: 0px;
	top: 510px;
	left: 80px;
}*/