/*.container{
	height: 1750px;
}*/

#faa{
	top: 115px;
	left: 100px;
	-webkit-transform: rotate(-4deg);
}

#asi{
	top: 150px;
	left: 520px;
	-webkit-transform: rotate(-1deg);
}

#state{
	top: 540px;
	left: 425px;
	-webkit-transform: rotate(4deg);
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
	cursor: default;
}

#sponsor{
	top: 510px;
	left: 105px;
	-webkit-transform: rotate(-2deg);
	cursor: default;
}

#explosion{
	top: 910px;
	left: 505px;
	-webkit-transform: rotate(3deg);
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

#libya{
	top: 900px;
	left: 80px;
	-webkit-transform: rotate(3deg);
}

#dot{
	top: 1220px;
	left: 115px;
	cursor: default;
}

#gore{
	top: 1300px;
	left: 615px;
	-webkit-transform: rotate(3deg);
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

#twa{
	top: 1287px;
	left: 395px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}