#faa{
	top: 65px;
	left: 100px;
	-webkit-transform: rotate(-4deg);
}

#asi{
	top: 100px;
	left: 520px;
	-webkit-transform: rotate(-1deg);
}

#state{
	top: 490px;
	left: 405px;
	-webkit-transform: rotate(4deg);
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
	cursor: default;
}

#sponsor{
	top: 460px;
	left: 155px;
	-webkit-transform: rotate(2deg);
	cursor: default;
	z-index: 450;
}

#explosion{
	top: 860px;
	left: 505px;
	-webkit-transform: rotate(3deg);
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

#libya{
	top: 850px;
	left: 80px;
	-webkit-transform: rotate(3deg);
}

#dot{
	top: 1170px;
	left: 115px;
	cursor: default;
}

#gore{
	top: 1050px;
	left: 615px;
	-webkit-transform: rotate(3deg);
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

#twa{
	top: 1037px;
	left: 395px;
	z-index: 450;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}