
/*h1{
	text-align: center;
	font-size: 72px;
	font-family: arial;
}*/

body{
	position: relative;
}

audio{
	display: block;
	width: 100%;
}


.nav{
	height: 250px;
	width: 100%;
	/*background-color: #ddd;*/
	text-align: center;
	/*position: fixed;
	z-index: 600;*/
	position: relative;
}

.inner-nav-container {
	background-color: #aaa;
}

.more{
	display: none;
	cursor: pointer;
	font-family: "Open Sans", sans;
	text-transform: uppercase;
	padding: 10px;
	text-align: center;
	margin: 20px;
	margin-top: 29px;
	background-color: #0175a4;
	color: white;
}

.note{
	position: absolute;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.card{
	position: absolute;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
	cursor: pointer;
}

.card .sample {
	display: none;
}
.card .full {
	display: none;
}

.photo{

}

#popup_content {
	font-family: "Droid Serif", serif;
	z-index: 1;
	position: absolute;
	height: 400px;
	width: 300px;
	padding: 25px;
	right: 50px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
	top: 300px;
	background: white;
}

#popup_content .sample{
	height: 80%;
	overflow: auto;
}

#popup_content .full{
	height: 100%;
	overflow: auto;
}

#popup_content p{
	line-height: 26px;
	font-size: 15px;
	padding-bottom: 1em;
}

#media{
	top: 24px;
	left: 5%;
}

#joint{
	top: 34px;
	left: 20%;
}

#airline{
	top: 50px;
	left: 39%;
}

#terrorism{
	top: 34px;
	left: 58%;
}

#laws{
	top: 24px;
	left: 77%;
}



/* ------- VIDEO ------ */
.video-container {
background-color: white;
}

.video-container-padding {
padding: 10px;
}
