* {
	border: 1px solid black;
	font-family: arial;
}

#headline {
	background: red;
	text-align: center;
}

nav{
	height: 70px;
	width: 100%;
	background-color: yellow;
}

nav ul li{
	list-style: none;
	padding: 0px 10px;
	color: black;
	float: left;
	position: relative;
	font-weight: bold;
	line-height: 50px;
}

nav ul li a{
	text-decoration: none;
	display: block;
}

nav ul li a:hover{
	background-color: orange;
}

nav ul ul{
	width: 200px;
	background-color: pink;
	position: absolute;
	display: none;
}

nav ul ul li{
	float: none;
	width: 100%;
}

nav ul li:hover ul{
	display: block;
}

.fix{
	clear: both;
}