#coverage{
	top: 65px;
	left: 100px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
	-webkit-transform: rotate(2deg);
}

#airplane{
	top: 100px;
	left: 450px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
	-webkit-transform: rotate(-4deg);
}

#wreckage{
	top: 420px;
	left: 120px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
	-webkit-transform: rotate(-3deg);
}

#deppa{
	top: 400px;
	left: 550px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
	-webkit-transform: rotate(0deg);
}

#scream{
	top: 730px;
	left: 320px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
	-webkit-transform: rotate(4deg);
}