.content {}
.source {}
.more {}
.share {}

body {
	background: white;
}
h1 {
	font-family: "Droid Serif";
	font-style: italic;
	font-weight: normal;
	margin-bottom: 20px;
}
#container {
	padding: 20px;
}
p {
	line-height: 24px;
}

#disqus_thread {
	width: 700px;
	float: left;
	margin-left: 20px;
}

#p4_scholars {
	list-style: none;
	margin-left: 300px;
}

#p4_scholars li {
	min-height: 150px;
}
#p4_scholars p {
	margin-left: 135px;

}