/* This file is where you define the way your page should look.
 * We will go over how CSS works, but the basic idea is you can identify what items you want to change, and then say how you want to change it.
 */


/* Make it so there is a black border around every HTML element.
 * The "*" that shows before the "{ border: 1px solid black; }" below means "apply this to everything."
 * Try editing the 1 to a 2 and see what happens, or pick a different color.
 */
* {
	margin: 0px;
	padding: 0px;
}

/* Make it so one of your elements has a red background.
 * The "#" indicates that we are selecting an item using its "id" value.
 * Try changing the id to something else to see what happens.
 */
#headline {
	background: DarkBlue;
	color: white;
}
.box_label {
	background: DarkBlue;
	height: 15px;
	color: white;
	font-size: 17px;
	text-align: center;
}
#grid {
	background: gray;
	width: 580px;
	height: 580px;
	margin: auto;
}
#container {
	background: gray;
	color: black;
}
#img src {
	height: 100px;
}
#grid li {
    background: DarkBlue;
    height: 100px;
    width: 100px;
    list-style: none; 
    float: left;
    margin: 5px;
    border: 3px solid black;
}

#grid li.enabled {
	cursor: pointer;
	border-color: green;
}

#box_content {
	height: 300px;
	width: 580px;
	margin: auto;
}

#box_content iframe {
	height: 100%;
	width: 100%;
	border: 0px;
}
