/* This file is where you define the way your page should look.
 * We will go over how CSS works, but the basic idea is you can identify what items you want to change, and then say how you want to change it.
 */


/* Make it so there is a black border around every HTML element.
 * The "*" that shows before the "{ border: 1px solid black; }" below means "apply this to everything."
 * Try editing the 1 to a 2 and see what happens, or pick a different color.
 */
* {

	margin: 0px;
	padding: 0px;

}

body {
	font-family: 'Droid Serif';
	background-color: #EFEFEF;
}

#navigation {
	width: 80%;
	max-width: 600px;
	margin: auto;
	margin-bottom: 35px;
	margin-top: 15px;
	height: 20px;

}

#navigation li {
	width: 50%;
	float: left;
	list-style: none;
	text-align: center;
	line-height: 20px;
 }
 
 
 .project4-item {
 background-color: white;
  -moz-box-shadow: 1px 1px rgba(0,0,0,.2);
 box-shadow: 1px 1px rgba(0,0,0,.2);
 }
 
  .project4-item:hover {
  background-color: #0175A4;
  }
 
 .project4-item-padding {
 padding: 10px;
 }

.project4-item img {
width: 100%;
}

.project4-item h4 a {
font-family: 'Open Sans', serif;
  font-size: 18px;
  font-weight: 700;
  color: #0175A4;
  text-transform: uppercase;
text-decoration: none;
}

#explanation {
	text-align: center;
	width: 45%;
	margin: auto;
	margin-bottom: 20px;
	line-height: 30px;
}
.project4-item:hover h4 a {
	color: white;
}
