#quilt {
	width: 900px;
	height: 750px;
	margin: auto;
}

#quilt li {
	height: 180px;
	width: 118px;
	padding: 10px;
	float: left;
	border: 1px;
	list-style: none;
	cursor: pointer;
}

#quilt li h3 {
	font-family: "Open Sans";
	font-size: 12px;
	text-align: center;
}

#active_bio {
	width: 900px;
	height: 750px;
	margin: auto;
}

#home_link {
	margin: 20px;
}

#active_bio .bio_text {
	font-size: 19px;
	padding: 20px;
	line-height: 25px;
	margin-left: 220px;
}

#active_bio .name {
	font-size: 28px;
	font-weight: bold;
	padding: 20px;
	padding-bottom: 0px;
	font-family: "Open Sans"
}

#active_bio img {
	width: 200px;
	float: left;
	margin: 20px;
}

.close {
	clear: left;
	cursor: pointer;
	font-family: "Open Sans", sans;
	text-transform: uppercase;
	padding: 10px;
	text-align: center;
	margin: 20px;
	margin-top: 29px;
	background-color: #0175a4;
	color: white;
}
