/* This file is where you define the way your page should look.
 * We will go over how CSS works, but the basic idea is you can identify what items you want to change, and then say how you want to change it.
 */

* {
	padding: 0px;
	margin: 0px;
}
p{height: 75px;
width: 1000px;
}

 */
 *{
	font-family: futura}
* {
 	background-color: #333399;
 	color: white;
 	font-family: futura;}

#headline {
	background: #333399;
	color: white;
}

=======
.media iframe {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
}
>>>>>>> upstream/master
