body {
	background: #FFFFFF;
}


#story_content h2 {
	border-top: 1px solid #C3C3C3;
	border-bottom: 1px solid #C3C3C3;
	color: #9F9F9F;
	text-align: center;
	font-family: 'Droid Serif', serif;
	font-weight: normal;
	font-style: italic;
	padding: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.media iframe {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
}

.image {
	margin: 20px;
}

.image img {
	width: 100%;
}

.image.center {
	margin: auto;
}
.image.left {
	float: left;
	max-width: 200px;
}
.image.right {
	float: right;
	max-width: 200px;
}

.caption {
	margin-bottom: 20px;
}
.image.center .caption {
	text-align: center;
	font-style: italic;
	font-size: 13px;
}

.caption .name {
	margin-top: 10px;
	font-family: 'Droid Serif', serif;
	font-weight: bold;
	font-size: 21px;
	font-style: italic;
	text-align: right;
}
.caption .title {
	text-align: right;
}

#landing_image {
	margin-top: 10px;
	margin-bottom:10px;
	margin: auto
}
#church_glass {
	width: 400px;
}
#wall_image {
	width: 500px;
	height:250px;
}

.continue {
	clear: left;
	cursor: pointer;
	font-family: "Open Sans", sans;
	text-transform: uppercase;
	padding: 10px;
	text-align: center;
	background-color: #0175a4;
	color: white;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	z-index: 50;
	line-height: 60px;
	font-size: 20px;
}



/* ------ CUSTOM STYLES JEFF -----*/


#photo-container {
width: 100%;
min-height: 300px;
margin-bottom: 20px;
}

#photo-container img {
width: 100%;
}

.photo-syracuse, .photo-lockerbie {
position: relative;
overflow:hidden;
height: 375px;
}

.photo-syracuse img, .photo-lockerbie img {
position: absolute;
top: 0px;
left: 0px;
width: 100%;
}

.city-text {
width: 100%;
height: 80px;
text-align: center;
background-color: rgba(0,0,0,.5);
position: absolute;
top: 100px;
left:0px;
z-index: 100;
}

.city-text h4 {
font-family: 'Droid Serif', serif;
font-size: 48px;
color: white;
font-style: italic; 
text-shadow: 1px 1px rgba(0,0,0,.5);
}